body {
    background-color: #39404D;
    color: #D4D4D4;
    font-family: Arial, sans-serif;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
}


small {
    font-size:0.8em;
    color: #989898;
    line-height: 0.1;
}

input[type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #555B66;
    background-color: #555B66;
    color: #D4D4D4;
    border-radius: 15px;
}

input[type="number"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #555B66;
    background-color: #555B66;
    color: #D4D4D4;
    border-radius: 15px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #555B66;
    background-color: #555B66;
    color: #D4D4D4;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: #963165;
    color: #D4D4D4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

select[class="form-select"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #555B66;
    background-color: #555B66;
    color: #D4D4D4;
    border-radius: 15px;
}

div[class="alert alert-danger"] {
    visibility: hidden;
}

input[type="submit"]:hover {
    background-color: #963165;
    opacity: 0.8;
}
